<div>
<!--  
 <div class="row">
        <h2>Sajtovi za kupovinu knjiga</h2>
        <div class="col-md-4">
          <h2>Laguna</h2>
          <p>Knjige o kojima se priÄ?a. </p>
          <img style="max-height:70px;" class="featurette-image img-responsive" src="app/img/Laguna-logo.jpg" alt="Generic placeholder image"><br>
          <p><a class="btn btn-default" href="http://www.laguna.rs/" role="button">Sajt Lagune &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>KnjiÅ¾are Vulkan</h2>
          <p>Sada i u formi e-knjiÅ¾are </p>
          <img style="max-height:70px;" class="featurette-image img-responsive" src="app/img/vulkan.jpg" alt="Generic placeholder image"><br>
          <p><a class="btn btn-default" href="http://www.knjizare-vulkan.rs/" role="button">Sajt knjiÅ¾are vulkan &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Delfi</h2>
          <p>Sve dobre knjige na jednom mestu</p>
          <img style="max-height:70px;" class="featurette-image img-responsive" src="app/img/delfi.jpg" alt="Generic placeholder image"><br>
          <p><a class="btn btn-default" href="http://www.delfi.rs/" role="button">Sajt delfi knjiÅ¾are &raquo;</a></p>
        </div>
      </div>
-->
<div ng-controller="CarouselSlideController">
  <div style="height: 305px ;height=:300 ;width=:200">
    <carousel interval="myInterval" no-wrap="noWrapSlides">
      <slide ng-repeat="knjiga in knjige" active="knjiga.active">
        <img ng-src="{{knjiga.slika}}" height="300" width="200" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <a href="#knjige/{{knjiga.isbn}}/view" style="text-decoration:none; text-align: center;" class="thumbnail plain" style="text-align: center;">
          <p>{{knjiga.naziv}}</p>
          </a>
        </div>
      </slide>
    </carousel>
  </div>
  </div>
      <hr>
      <h1>Zanimljivosti iz sveta knjiÅ¾evnosti</h1>
      
       <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Sabrana dela Borislava PekiÄ‡a: <span class="text-muted">Od Vremena Ä?uda do 1999</span></h2>
          <p class="lead">IzdavaÄ?ka kuÄ‡a Laguna je objavila novu seriju celokupnog dela jednog od naÅ¡ih najboljih pisaca. ljubitelji ovog velikog pisca moÄ‡iÄ‡e da uÅ¾ivaju u njegovim delima a dizajn </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="app/img/besnilo.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="app/img/kafka.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Franz Kafka i njegova poslednja Å¾elja <span class="text-muted"></span></h2>
          <p class="lead">Na kraju samog Å¾ivota Franz Kafka svom dobrom prijatelju rekao da sve njegove romane i priÄ?e zapali. Na sreÄ‡u ili Å¾alost prijatelj ga nije posluÅ¡ao i sve njegove romane (ukljuÄ?ujuÄ‡i i Zamak koji nije zavrÅ¡en) izdaje.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Stiven Presfild i Ognjene kapije <span class="text-muted">Rame uz rame sa Spartancima</span></h2>
          <p class="lead">Stiven Presfild jedan od najboljih pisaca istorijskih romana je u knjizi opisao naÄ?in Å¾ivota Spartanaca i njihovu borbu protiv Persijske armije. Ako ste fan istorijskih romana onda ne smete propustiti "Ognjene Kapije".</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="app/img/oganj.jpg" alt="Generic placeholder image">
        </div>
      </div>

</div>