<div ng-controller="registracijaController">
<form class="form-horizontal" role="form" ng-submit="registracija()">
    <div class="form-group">
  <label for="ime" class="col-sm-2 control-label">Ime:</label>
  <div class="col-sm-10">
    <input type="text" ng-model="korisnik.ime" class="form-control" id="ime" placeholder="ime"/>
  </div>
</div>

<div class="form-group">
  <label for="prezime" class="col-sm-2 control-label">Prezime</label>
  <div class="col-sm-10">
    <input type="text" ng-model="korisnik.prezime" class="form-control" id="prezime" placeholder="Prezime"/>
  </div>
</div>
    <div class="form-group">
  <label for="username" class="col-sm-2 control-label">Username:</label>
  <div class="col-sm-10">
    <input type="text" ng-model="korisnik.username" class="form-control" id="username" placeholder="username"/>
  </div>
</div>

<div class="form-group">
  <label for="password" class="col-sm-2 control-label">Password</label>
  <div class="col-sm-10">
    <input type="text" ng-model="korisnik.password" class="form-control" id="password" placeholder="Password"/>
  </div>
</div>

<div class="form-group">
  <label for="mail" class="col-sm-2 control-label">Email adresa:</label>
  <div class="col-sm-10">
    <input type="text" ng-model="korisnik.mail" class="form-control" id="mail" placeholder="Email adresa"/>
  </div>
</div>
  
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Registracija"/>
  </div>
</div>
</form>
</div>